<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace = "com.ashspell.test.lesson05.dao.WeatherDAO">
 	<select id  = "selectWeatherhistory" resultType = "com.ashspell.test.lesson05.model.Weather">
 		SELECT
 		`id`
 		,`date`
 		.`weather`
 		,`temperatures`
 		,`precipitation`
 		,`microDust`
 		,`windSpeed`
 		,`createdAt`
 		,`updatedAt`
 		
 		FROM
 			`weatherhistory`
 	</select>
 	
 	<insert id ="insertweather" parameterType= "map">
 	
 	INSERT INTO `weatherhistory`
 	(`date`
 		.`weather`
 		,`temperatures`
 		,`precipitation`
 		,`microDust`
 		,`windSpeed`
 		,`createdAt`
 		,`updatedAt`
 	) Value (
 	#{date}
 	,#{temperatures}
 	,#{precipitation}
 	,#{microDust}
 	,#{windSpeed}
 	)
 	
 	</insert>
 </mapper>